.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 200px;
}
.p {
  font-size: 20px;
  width: 70%;
  line-height: 2rem;
}
.img {
  height: 400px;
  margin-right: 30px;
}
@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
}

.h1 {
  font-size: 40px;
}
.icons {
  margin-top: 80px;
  margin-left: 30px;
}
.icon {
  height: 40px;
  margin-right: 20px;
}
