.list {
  margin: 20px 0px 20px 0px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: black;
}

@media (max-width: 700px) {
  .list {
    grid-template-columns: 1fr;
  }
}
